<div class="card-head w-full flex items-center justify-between">
    <div>
        <div class="content_galery p-3 flex items-center gap-2">
          <div>
              <img class="w-12 h-12 rounded-full objet-cover" src="../../../assets/img/pexels-mario-wallner-15085813.jpg" alt="">
          </div>
          <div class="cursor-pointer">
              <p class="galery_text dark:text-white text-md whitespace-nowrap">@{{user.userName}}</p>
              <p class="galery_text dark:text-white text-xs opacity-40">{{user.description}}</p>
          </div>
      </div>
    </div>
    <div>
      <svg
        class="svg"
        width="32px"
        height="32px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M9 12C9 12.5523 8.55228 13 8 13C7.44772 13 7 12.5523 7 12C7 11.4477 7.44772 11 8 11C8.55228 11 9 11.4477 9 12Z"
          fill="#1C274C"
        />
        <path
          d="M13 12C13 12.5523 12.5523 13 12 13C11.4477 13 11 12.5523 11 12C11 11.4477 11.4477 11 12 11C12.5523 11 13 11.4477 13 12Z"
          fill="#1C274C"
        />
        <path
          d="M16 13C16.5523 13 17 12.5523 17 12C17 11.4477 16.5523 11 16 11C15.4477 11 15 11.4477 15 12C15 12.5523 15.4477 13 16 13Z"
          fill="#1C274C"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M12 1.25C6.06294 1.25 1.25 6.06294 1.25 12C1.25 17.9371 6.06294 22.75 12 22.75C17.9371 22.75 22.75 17.9371 22.75 12C22.75 6.06294 17.9371 1.25 12 1.25ZM2.75 12C2.75 6.89137 6.89137 2.75 12 2.75C17.1086 2.75 21.25 6.89137 21.25 12C21.25 17.1086 17.1086 21.25 12 21.25C6.89137 21.25 2.75 17.1086 2.75 12Z"
          fill="#1C274C"
        />
      </svg>
    </div>
  </div>

  <div class="w-full">
    <p class="dark:text-white">
      {{user.description}}
      <span class="inline-block text-bleu"
        >#Lorem ipsum dolor sit amet consectetur, adipisicing
        elit.</span
      >
    </p>
  </div>
  <div class="card_img w-full">
    <img
      class="rounded-lg md:h-96 object-cover w-full img_loading"
      [src]="user.url"
      alt=""
      id=""
    />
    <!-- <div class="relative overflow-hidden">
      <div *ngIf="!charger" class="static w-full space-y-3 overflow-hidden  rounded-lg  dark:bg-black bg-[#F4F2EE] p-3 shadow before:absolute before:inset-0 before:-translate-x-full before:bg-gradient-to-r before:from-transparent before:via-white/20 hover:shadow-lg before:animate-[shimmer_1.5s_infinite]">
        <div class="h-36 w-full rounded-lg bg-neutral-300 dark:bg-neutral-600"></div>
        <div class="space-y-3">
          <div class="h-5 w-8/12 rounded-full bg-neutral-300 dark:bg-neutral-600"></div>
          <div class="space-y-1">
            <div class="h-4 w-full rounded-full bg-neutral-300 shadow dark:bg-neutral-600"></div>
            <div class="h-4 w-full rounded-full bg-neutral-300 shadow dark:bg-neutral-600"></div>
            <div class="h-4 w-full rounded-full bg-neutral-300 shadow dark:bg-neutral-600"></div>
            <div class="h-4 w-7/12 rounded-full bg-neutral-300 shadow dark:bg-neutral-600"></div>
          </div>
          <div class="flex gap-2">
            <div class="h-5 w-16 rounded-full bg-neutral-300 dark:bg-neutral-600"></div>
            <div class="h-5 w-12 rounded-full bg-neutral-300 dark:bg-neutral-600"></div>
          </div>
        </div>
      </div>
    </div>                                                                                                                                                            
  </div> -->
  <div class="content_scroll_info flex items-center gap-4 p-2 w-full">
    <div class="flex items-center gap-2">
      <svg
        fill="#000000"
        width="20px"
        fill="#CF2E87"
        height="20px"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M20.5,4.609A5.811,5.811,0,0,0,16,2.5a5.75,5.75,0,0,0-4,1.455A5.75,5.75,0,0,0,8,2.5,5.811,5.811,0,0,0,3.5,4.609c-.953,1.156-1.95,3.249-1.289,6.66,1.055,5.447,8.966,9.917,9.3,10.1a1,1,0,0,0,.974,0c.336-.187,8.247-4.657,9.3-10.1C22.45,7.858,21.453,5.765,20.5,4.609Zm-.674,6.28C19.08,14.74,13.658,18.322,12,19.34c-2.336-1.41-7.142-4.95-7.821-8.451-.513-2.646.189-4.183.869-5.007A3.819,3.819,0,0,1,8,4.5a3.493,3.493,0,0,1,3.115,1.469,1.005,1.005,0,0,0,1.76.011A3.489,3.489,0,0,1,16,4.5a3.819,3.819,0,0,1,2.959,1.382C19.637,6.706,20.339,8.243,19.826,10.889Z"
        />
      </svg>
      <span class="inline-block dark:text-white text-primary">102</span>
    </div>
    <div class="flex items-center gap-2">
      <svg
        class="svg"
        width="20px"
        height="20px"
        viewBox="0 0 32 32"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
      >
        <title>comment-4</title>
        <desc>Created with Sketch Beta.</desc>
        <defs></defs>
        <g
          id="Page-1"
          stroke="none"
          stroke-width="1"
          fill="none"
          fill-rule="evenodd"
          sketch:type="MSPage"
        >
          <g
            id="Icon-Set"
            sketch:type="MSLayerGroup"
            transform="translate(-308.000000, -255.000000)"
            fill="#000000"
          >
            <path
              d="M327.494,279.633 L324,284 L320.506,279.633 C314.464,278.355 309.992,273.863 309.992,268.501 C309.992,262.146 316.264,256.994 324,256.994 C331.736,256.994 338.008,262.146 338.008,268.501 C338.008,273.863 333.536,278.355 327.494,279.633 L327.494,279.633 Z M324,255 C315.163,255 308,261.143 308,268.72 C308,274.969 312.877,280.232 319.542,281.889 L324,287.001 L328.459,281.889 C335.123,280.232 340,274.969 340,268.72 C340,261.143 332.837,255 324,255 L324,255 Z"
              id="comment-4"
              sketch:type="MSShapeGroup"
            ></path>
          </g>
        </g>
      </svg>
      <span class="inline-block dark:text-white text-primary">242</span>
    </div>
    <div class="flex items-center gap-2">
      <svg class="w-[24px] h-[24px] fill-[#000]" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg">

        <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
        <path d="M384 160c-17.7 0-32-14.3-32-32s14.3-32 32-32H544c17.7 0 32 14.3 32 32V288c0 17.7-14.3 32-32 32s-32-14.3-32-32V205.3L342.6 374.6c-12.5 12.5-32.8 12.5-45.3 0L192 269.3 54.6 406.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160c12.5-12.5 32.8-12.5 45.3 0L320 306.7 466.7 160H384z"></path>
      
      </svg>
      <span class="inline-block dark:text-white text-primary"
        >12.4K</span
      >
    </div>
    <div class="flex items-center gap-2 ml-auto">
      <svg
        class="svg"
        width="20px"
        height="20px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M20.5 3.5L3.5 9L10 12L17 7L12 14L15 20.5L20.5 3.5Z"
          stroke="#000000"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </div>
  <div class="w-full">
    <div class="flex items-center gap-2">
      <div class="">
        <img
          class="w-12 h-11 rounded-full object-cover border-2 border-primary dark:border-white"
          src="../assets/img/abou.jpg"
          alt=""
        />
      </div>
      <div
        class="w-full border border-black bg-gray dark:bg-black overflow-hidden dark:border-white flex items-center rounded-xl"
      >
        <input
          class="inputComment pl-2 w-full h-10 text-lg bg-transparent rounded-xl border-none outline-none"
          type="text"
          placeholder="Comment"
          name=""
          id=""
        />
      </div>
    </div>
  </div>