<div class="content_galery p-3 flex items-center gap-2">
  <div class="flex items-center gap-2">
    <div>
      <img class="w-12 h-12 rounded-full" [src]="'../../../assets/img/'+galery2.url" alt="">
    </div>
    <div>
      <p class="galery_text dark:text-white text-md whitespace-nowrap">@{{galery2.userName}}</p>
      <p class="galery_text dark:text-white text-xs opacity-40">{{galery2.description}}</p>
    </div>
  </div>
  <div class="ml-auto">
    <span
      class="text-xs cursor-pointer bg-whiteGray textfamily font-semibold inline-block p-2 rounded-xl bg-gray-100 dark:bg-primary text-bleu dark:text-white z-0">{{galery2.action}}</span>
  </div>
</div>
